<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tonystark</key>
	<array>
		<string>hey tony</string>
	</array>
	<key>warrenbuffet</key>
	<array>
		<string>warren0</string>
		<string>warren1</string>
		<string>warren2</string>
	</array>
	<key>nancypelosi</key>
	<array>
		<string>crime is good</string>
		<string>crime is great</string>
		<string>crime is wonderful</string>
		<string>crime is crime</string>
	</array>
</dict>
</plist>
